.navbar {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 76px;
    background: #242121;
    display: flex;
    color: #ffffff;
    align-items: center;
    z-index: 2;
}

img {
    margin-left: 15px;
    margin-right: 15px;
}

.title {
    font-size: 32px;
}